<!--appel du fichier partiel contenant le header avec la fonction include-->
{% include '_header.html.twig' %}
<!--mise en place d un appel de variable pour recupere des infos dans l array-->
    <h1>{{ article.title}}</h1>
    <p>{{ article.content }}</p>
    <p>{{ article.id }}</p>

<!--appel du fichier partiel contenant le footer avec la fonction include-->
{% include '_footer.html.twig' %}