<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>
    <!--Lien de mon twig avec la page CSS-->
    <link rel="stylesheet" href="{{ asset('style.css') }}">
</head>
<body>
    <header>
        <p>Listes des articles</p>
    </header>
    <main>
    <!--mise en place d une boucle for pour afficher tous les articles de la liste -->
        {% for article in articles %}
        <article>
            <!--Creation d un lien avec la fonction path pour rediriger vers une adresse URL -->
            <a href={{ path('article', {'id': article.id}) }}>
            <h1>{{ article.title }}</h1>
            <p>{{ article.content}} </p>
            </a>
        </article>
        {% endfor %} <!--cloture de la boucle for -->
    </main>

    <footer>
        <p>Retour à la page d'accueil</p>
    </footer>
</body>
</html>